/* Reset */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Poppins, sans-serif;
}

/* Layout */
.container-pai {

max-width: 100%;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;


}


#Container-PRC {



background: rgb(255, 255, 255);
box-shadow: 0px 10px 5px 0px rgb(136, 136, 136);
max-width: 100%;
width: 48%;
height: 620px;
border-radius: 20px 0px 0px 20px;

}



.topo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
}


.formulario {
display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: nowrap;

}

.CheckboxeSenha {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
    margin: 30px 0px 40px 0px;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
}

.Acessar {

     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-video {

    max-width: 100%;
    width: 30%;
    height: 620px;
    box-shadow: 0px 10px 5px 0px rgb(136, 136, 136);
     border-radius: 0px 20px 20px 0px;
     background: #BF0067;
    display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     align-content: flex-end;
     position: relative;
     
    

}


 
/* Componentes */

.checkbox-container {

  display: flex;
  height: 100%;
 max-width: 40%;
 width: 35%;
 justify-content: space-evenly;
 align-items: center;
 
  
}

.dados {

    margin: 0px 0px 10px 55px;
    max-width: 100%;
    width: 100%;
    height: 45px;
    padding: 12px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 30px;
   
}

.btn-submit {

   margin: 60px 0px 40px 0px;
   width: 70%;
   color: white;
   background: #BF0067;
   border-radius: 30px;
   height: 45px;
   max-width: 70%;
   padding: 10px;
   font-size: 20px;
   border: none;
   transition: 1s;
}

.btn-submit:hover {

background: linear-gradient(#fa0a8a,#BF0067);
cursor: pointer;
  
}

.video {

    object-fit: cover;
    width: 100%;
    height: 620px;
    border-radius: 0px 20px 20px 0px;
    opacity: 0.6;
    

}

.img-logo-branca {

  position: absolute;
}


.checkbox-custom {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #BF0067;
  cursor: pointer;
  transition: 0.3s;
}

#checkbox:checked + .checkbox-custom {
  background: #BF0067;
}

/* utilitarios */

.img-logo {
    
   
    max-width: 100%;
    width: 430px;
    height: 100px;
}

.topo-text {

    font-size: 18px;
    text-align: center;
}

.text-form {

    margin: 20px 0px 20px 65px;
 font-size: 16px;
}

.password {

    color: #BF0067;
}

#checkbox {
  display: none;
}



